@font-face {
	font-family: "Minecraft";
	src: url("/assets/fonts/Minecraft.ttf") format("truetype");
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Minecraft", sans-serif;
}
.flex-container {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.landing-page {
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: 1;
	background: white;
	display: flex;
	padding: 10%;
	align-items: center;
	flex-direction: column;
}
.landing-page .logo {
	width: 30%;
	background: url("/assets/img/GrassBlock.jpg") no-repeat center center;
}
.landing-page p img {
	width: 10%;
}
.landing-page p {
	margin-top: 1rem;
}
.landing-page .start-btn {
	animation: fadein 2s ease 1s 1 forwards;
	opacity: 0;
	padding: 15px 30px;
	margin-top: 1rem;
	font-size: 1.5rem;
	background: #6f6f6f;
	border: 1px solid black;
	color: #fff;
}
.landing-page .start-btn:active {
	background: #555;
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.world-container {
	border-collapse: collapse;
	background: cornflowerblue;
}
.inventory-container {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(2, 1fr);
	gap: 50px;
}
.inventory-container button {
	width: 100px;
	height: 100px;
	border: 2px solid gray;
	display: flex;
	justify-content: center;
	align-items: center;
}
.inventory-container button h2 {
	font-size: 2rem;
}
.inventory-container .crafting {
	width: 100px;
	height: 100px;
	margin-left: 75px;
	grid-column: span 2;
	background: url("/assets/img/craftingTableBlock.png") no-repeat center center/cover;
	position: relative;
}
.toolbar {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.toolbar button {
	margin: 20px 0;
	background: transparent;
	border: 2px solid gray;
	width: 100px;
	height: 100px;
}
.toolbar button img {
	width: 100%;
	opacity: 0.25;
}
.toolbar .hand img {
	opacity: 1;
}
button {
	position: relative;
}
button:active::before,
.inventory-container .crafting:active::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background: #6f6f6f66;
	top: 0;
	left: 0;
}
.toolbar .reset-btn {
	height: 10vh;
	width: 20vh;
}
#selected {
	border: 3px solid darkcyan;
}
.world-container tr td {
	width: 43px;
	height: 43px;
}
.crafting-container {
	position: relative;
}
.crafting-menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 20vw;
	height: 20vh;
	bottom: 105px;
	right: -140px;
	background: green;
	transform: scale(1);
	transition: all 1.1s ease-in-out;
	text-align: center;
}
.cost-container {
	display: flex;
	align-items: center;
}
.cost-container p {
	margin: 0.25rem;
}
.cost-container img {
	width: 40px;
}
.img-container img {
	width: 50px;
	margin: 0 1rem;
	border: 2px dashed gray;
}
.button-container .btn {
	width: 100px;
	display: inline-block;
	border: 2px solid gray;
	padding: 1rem 0;
	background: #555;
	text-align: center;
	user-select: none;
	cursor: pointer;
}
.button-container .btn:active {
	background: #333;
}
.sky {
	background: cornflowerblue;
}
.dirt {
	background: url("/assets/img/dirtTexture.png") no-repeat center center/cover;
}
.grass {
	background: url("/assets/img/grassTexture.png") no-repeat center center/cover;
}
.cobble {
	background: url("/assets/img/cobbleTexture.png") no-repeat center center/cover;
}
.log {
	background: url("/assets/img/logTexture.png") no-repeat center center/cover;
}
.leaves {
	background: url("/assets/img/leavesTexture.png") no-repeat center center/cover;
}
.iron {
	background: url("/assets/img/ironTexture.png") no-repeat center center/cover;
}
.gold {
	background: url("/assets/img/goldTexture.png") no-repeat center center/cover;
}
.diamond {
	background: url("/assets/img/diamondTexture.png") no-repeat center center/cover;
}
.cloud {
	background: white;
}
.scale-zero {
	transform: scale(0);
}
.display-none {
	display: none;
}
